/* Algemene classes en styles*/

*:focus-visible{
    border: #ffc426 solid 0.125em;
    transform: scale(1.05);
    z-index: 10;
}

@font-face {
    font-family: "trade";
    src: url("../fonts/trade-gothic-bold-condensed-no-20-2.woff2");
}

/* https://wdn.unl.edu/page-title-h1-best-practices */
.semanticHidden{
    font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

.hidden {
    display: none !important;
}

.bg-black {
    background-color: black
}

.bg-white {
    background-color: white
}

.w-100{
    width:100%;
}

.grad{
    padding:0.94em;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #171717 0%,  #353535 50%, #171717 100%);

    color:white;
}

.flex-row {
    display: flex;
}

body {
    margin:0;
    padding: 0;
    font-size: 0.81em;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}



h1,h2,h3,h4,button,.button{
    text-transform: uppercase;
    font-family: "trade",Arial,Helvetica,sans-serif;
}

a.button {
    color: black;
    text-align: center;
    display: inline-block;
    line-height: 1;
}

h3 {
    font-size: 1.25em;
}

button ,.button{
    flex-grow: 0;
    font-size: 1em;
    padding:0.5em 1.625em 0.5em 1.625em;
}

button:hover ,.button:hover{
    filter: brightness(0.8);
}


button.gray ,.button.gray{
    filter: grayscale(100%);
}

.no-button {
    color: inherit;
    font-size: 0.81em;
    font-family: inherit;
    line-height: 1.5;
    background-color: rgba(0,0,0,0);
    text-transform: inherit;
    background-image: none;
    box-shadow: none;
}



/* splide/slider */

.splide__arrows{
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    pointer-events: none;
}

button.splide__arrow:first-of-type{
    transform: rotate(180deg);
}
button.splide__arrow{
    pointer-events:all;
    padding: 0.5em 0px 0.5em 0px;
    background-image: none;
    background-color: rgba(0,0,0,0.2);
    fill: #ffc426;
    border-radius: 2em 0px 0px 2em;
    line-height: 0.5em;
    box-shadow: none;
}

button.splide__arrow svg{
    height: 1.5em;
}


.cards {
    width: 100%;
}

.cards article{
    display: inline-block;
    border-radius: 0.2em;
    background-color: white;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    overflow: hidden;
    margin-right: 1em;
    transition: all 0.3s;
}

.cards article:hover{
    filter: contrast(0.8) brightness(1.2);
}

/*Header/nav */

.header {
    max-height: 2.8em;
    background-color: #ffc426;
    color: #4c3c0c;
    padding: 0.625em;
}

.header li{
    text-align: center;
}
.header img{
    max-height: 1.25em;
}

.header ul,.header img.logo{
    max-height: 2.8em;
}

/* Film covers  / film trailer*/

.header ul, .film-covers ul, footer ul{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    list-style-type: none;

}

.film-covers > ul:first-of-type li {
    transition: all 0.4s;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    border-color: rgba(0,0,0,0);

}

.film-covers > ul:first-of-type li:first-of-type {
    color: white;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
}


.film-covers > ul:first-of-type li:hover {
    color: white;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
}

#splide-movies {
    width: 100%;
}

.film-covers{
    overflow: hidden;
    height: 80vh;
    position: relative;
}

.cover-carousel{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.film{
    margin-left: 3.125em;
}
.film:first-child{
    margin-left: 0px;
}


.cover-small{
    width: 170px;
    height: 240px;
    box-shadow: 0px 0px 0.625em 0px rgba(0, 0, 0, 0.4)
}

.film h2{
    font-weight: normal;
    text-transform:none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em ;
    color: rgba(255, 255, 255, 0.7);
    max-width: 10.63em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.film-trailer{
    height: 80vh;
    display: flex;
    align-items: flex-end;
}

.film-covers ul{
    margin-top: 1.125em;
    color: #ffc426;
    filter: blur(0);
    text-transform: uppercase;
    font-family: "trade",Arial,Helvetica,sans-serif;
    font-size: 1.125em;
    justify-content: space-evenly
}
.film-covers ul li button.no-button{
    font-size: 1.125em;
    padding: 0px;
}

.background{
    max-width: 100vw !important;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    height: 53vh;
    filter: blur(1.25em);
    background: url(../images/23491_133392_ps_sd-high.jpg);

    transform: scale(1.8) translateY(5em);
}

.film-trailer .background{
    filter: blur(0px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url(../images/23491_125257_st_sd-high.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    height: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.film-summary{
    z-index: 4;
    flex-grow: 1;
    color: white;
    margin: 0.94em;
    display: flex;
    align-items: flex-end;
}

.film-summary div{
    flex-grow: 1;
}

.film-summary img{
    margin-right: 0.94em;
}

.trailer-gradient{
    position: absolute;
    height: 15em;
    left: 0;
    right: 0;
    max-width: 100vw !important;
    z-index: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgb(0, 0, 0));
}

.film-details, .trailer-fotos{
    font-size: 1em;
    color: #d8d8d8;
    background-color: black;
    padding: 0.94em;
}

.film-details p{
    line-height: 1.25em;
    margin-bottom: 1.25em;
    margin-top: 1.625em;
}

.film-details button, .film-details .button{
    width: 100%;
}

.kijkwijzer{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.kijkwijzer img{
    margin-right: 0.313em;
}

.tag{
    padding: 0.313em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 0.75em;
    margin-top: 1.9em;
    color: #151515;

    border-radius: 1000px;
    background-color: #a7a9ac;
}

/* Bestel nu je tickets Button*/

.toggleParent {
    display: flex;
    width: 18.25em;
    height: 4.5em;
    border-radius: 4.5em;
    border:solid white 0.125em;
    background-color: #2D2D2E;
}

.toggleParent .button {
    height: 6em;
    width:12.875em;
    margin: 0.25em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    text-transform: uppercase;
    font-family: "trade",Arial,Helvetica,sans-serif;
    font-size: 0.69em;
    color: black;
    justify-content: center;
    transition:all 0.6s;
    border-radius: 4em;

}

.toggleParent .button.inactive {
    color: #fff;
    filter: brightness(0.6);
    background-color: rgba(0,0,0,0) !important;
    background-image: none;
}
.toggleParent .button.inactive:hover {
    color: #fff;
    filter: brightness(1);
}

.toggleParent img{
    height: 1.9em;
    width: 1.9em;
    margin-left: auto;
    margin-right: auto;
}

.toggle-background{
    z-index: 0;
    transition: left 0.6s;
    position: absolute;
    height: 60.25em;
    width: 8.875em;
    margin: 0.25em;
    left:1.06em;
    border-radius: 60.25em;
    background-image: linear-gradient(to bottom, #F7DA66, #ffc426);
}

.toggle-background.active{
    left: 9.875em;
}

/* favoriete bios */

#favoriete-bios {
    margin-top: 2em;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    color: black;
    gap: 0.8em;
}

#favoriete-bios h2{
    margin: auto;
    margin-left: 0.2em;
    font-size: 1em;
}

#favoriete-bios img{
    height: 8em;
    width: 9em;
}

#favoriete-bios article, #favoriete-bios article a{
    border-radius: 0.3em;
    flex-grow: 1;
    height: 8em;
    background-color: white;
    display: flex;
    overflow: hidden;

}


/* Location zoekbalk */


button, .location-button,.button {
    display: block;
    padding: 0.625em;
    border: none;
    color: rgba(21,21,21,.96);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.12);
    border-radius: 0.38em;
    background-color: #ffc426;
    background-image: linear-gradient(to bottom,#f7da66,#ffc426);
}


.location-input{
    display: flex;
    background-color: white;
    padding: 0.125em;
    border-radius: 0.313em;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.location-input input[type=text]{
    border: none;
    padding:0.313em;
    height: 2em;
    margin: auto;
    margin-left: 0px;
    flex-grow: 1;
}

.location-input .location-button{
    margin: 0.313em;
    height: 1em;
    width:1em;
}

/* Animatie voor fade-in met CSS-Keyframes */

#bios-in-de-buurt , #favoriete-bios, .film-details > div:nth-of-type(2) p:nth-of-type(2) {
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Nieuws */

.cards h2{
    font-weight: normal;
    text-transform: none;
    margin: 0px;
    margin-left: 0.5em;
    font-size: 0.8em;
    margin-bottom: 0.2em;
}

.cards img {
    width: 80vw;
    max-width: 18em;
    height: auto;

}

/* Homepage blokken */

.imax img,.vierDX img{
    margin-bottom: 15em
}

.unlimited img{
    width: 10.375em;
}

.vierDX{
    padding:1.25em;
    color: white;
    background: url(../images/banner-4d-sm.png) no-repeat center;
    background-size: cover;
}
.imax{
    padding: 1.25em;
    color:white;
    background: url(../images/banner_IMAX-sm.jpg) no-repeat center;
    background-size: cover;
}

/* Tijden en tickets */

.tijden-tickets {
    display: flex;
    justify-content: center;
    margin:0.94em;
}
.tijden-tickets .cta {
    background: url(../images/bg-allstars-box-sm.png) no-repeat center;
    background-size: cover;
}


/* Call to action */

.cta{
    max-width: 32em;
    border-radius: 0.313em;
    align-items: center;
    padding:0.625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    display: flex;
    font-size: 1em;
    color: white;
}
.cta p{
    margin-left: 0.94em;
}

/* Trailer fotos / cast en crew */

.trailer-fotos .flex-row{
    overflow-x: hidden;
}

.trailer-fotos .flex-row p{
    text-align: center;
}

.trailer-fotos img{
    height: 10em;
    border-radius: 0.313em;

}

#splide-stills li {
    height:auto;
    width: 10em;
    overflow: hidden;
}

#splide-stills img{
    cursor: pointer;
}

.trailer-fotos img.video{
    height: 11em;
}

.trailer-fotos .flex-row h2, #splide-crew h2  {
    font-weight: normal;
    text-transform:none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em ;
    text-align: center;
    max-width: 92%;
}


/*footer*/

footer .gele-balk{
    padding: 2.5em;
    color: black;
    background-color: #ffc426;
}

footer .gele-balk li{
    height: 2em;
    width: 2em;
}

footer .gele-balk ul{
    width: 8.25em;
    margin: auto;
}

/* voor brede schermen*/

@media only screen and (min-width: 55em) {



    .container {
        display: flex;
        justify-content: center;
    }

    .container>* {
        width: 100%;
        max-width: 74em;
    }

    .responsiveArticles{
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #171717 0%,  #353535 50%, #171717 100%);
    }

    .responsiveArticles .container {

        display: flex;
        flex-wrap: wrap;
        max-width: 74em;
    }

    .responsiveArticles .grad{
        background: none;
    }

    .responsiveArticles .container :nth-child(1) {
        order: 1;
    }
    .responsiveArticles .container :nth-child(2) {
        order: 2;
    }
    .responsiveArticles .container :nth-child(3) {
        order: 4;
    }
    .responsiveArticles .container :nth-child(4) {
        order: 3;
    }
    .responsiveArticles article{
        display: flex;
        flex-direction: column;
        max-width: 37em;
        flex: 0 50%;
        box-sizing:border-box;
        border: 10px solid rgba(0,0,0,0);
        max-height: 25em;
    }
    .responsiveArticles img{
        align-self: flex-start;
        width: auto;
        max-height: 4em;
        margin-bottom: 0px;
    }


    .film-details{
        display: flex;
    }
    .film-details > div:first-of-type{
        flex-basis: 33.3%;
    }

    .film-details > div:nth-of-type(2){
        flex-basis: 66.6%;
    }

    .film-details button{
        width: auto;
    }

}
